.settings-management {
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;

        .actions {
            margin-left: auto;
            
            button {
                margin-left: 5px;
            }
        }
    }
    
    .field-container {
        display: flex;
        width: 100%;
        margin-bottom: 3px;
        font-size: 12px;
        min-height: 32px;
        
        
        .field-name {
            width: 40%;
            font-weight: 500;
        }

        .field-value {
            width: 60%;
            text-transform: capitalize;
            justify-content: flex-end;
            display: flex;

            .value-container {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .ant-select-selector {
                background-color: transparent;
                border: none;
                color: var(--text-color);
            }

            .working-dir-selector {
                cursor: pointer;
                margin-right: 10px;
            }
        }
    }
}
