.version-alert {
    background-color: var(--info-bg);
    border: 1px solid var(--info-border);

    .ant-alert-message {
        color: var(--text-color);
    }

    .ant-btn:hover {
        color: var(--text-color);
        background: rgba(255, 255, 255, 0.03);
    }
}