.fix-header-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--text-color);
    background-color: var(--shade-375);
    border-top: 1px solid var(--shade-300);

    .ant-form {
        height: 100%;
        overflow: AUTO;
        display: flex;
        flex-direction: column;
    }

    .form-header {
        padding: 15px;
        padding-bottom: 5px;

        .title {
            font-size: 14px;
            font-weight: 500;
            color: var(--accent-2-hover);
        }
    }

    .form-body {
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 0 15px 15px 15px;
        flex-grow: 1;
        padding-top: 15px;

        .fix-field-wrapper {
            .field-number {
                margin-left: 5px;
                font-size: 8px;
                color: var(--shade-250);
            }
        }

        .fix-component {
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: 500;
                margin-bottom: 15px;
                color: var(--text-color-accent-1);
            }

            &-fields {
            }
        }

        .fix-group {
            display: flex;
            flex-direction: column;

            &-title {
                font-weight: 500;
                margin-bottom: 15px;
                color: var(--text-color-accent-1);
                display: flex;
                flex-direction: row;
            }

            .fix-group-insert {
                cursor: pointer;
                margin-left: auto;
            }

            .repitition-block {
                border-bottom: 1px solid var(--separator-color);
                border-bottom-style: dashed;
                margin-top: 5px;
            }

            &-fields {
                .repitition-block {
                    display: flex;

                    &-content {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                    }

                    .dynamic-delete-button {
                        color: var(--text-color-accent-1);
                        margin: 5px 0 5px 5px;
                    }
                }
            }
        }
    }

    .form-footer {
        justify-content: space-between;
        padding: 10px;
        background: var(--shade-375);
        display: flex;

        .save-btn {
            margin-left: auto;
        }
    }
}
