.session-management-warpper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .fix-session-connectivity {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;

        .fix-session-title {
            display: flex;
            flex-direction: row;
            font-weight: 500;
            font-size: 15px;
            color: var(--text-color);
            align-content: center;
            justify-content: center;
            width: 100%;

            &-text {
                width: 100%;
                text-transform: capitalize;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .connect-btn-wrapper {
            margin-left: auto;
            .disconnect-btn {
                border-color: var(--danger);
                color: var(--danger);
            }
        }

        .status-indic {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            font-weight: 500;
            box-shadow: var(--box-shadow);
            margin: auto;
            margin-right: 5px;
        }

        .connected {
            background-color: var(--success);
        }

        .disconnected {
            background-color: var(--danger);
        }
    }

    .tab-view {
        width: 100%;
        height: calc(100% - 52px);

        .ant-tabs-tabpane {
            height: 100%;
        }

        .ant-tabs-content-holder {
            height: 100%;
        }

        .ant-tabs {
            width: 100%;
            height: 100%;
            padding: 0;

            .ant-tabs-content {
                width: 100%;
                height: 100%;
            }
        }
    }
}
