[data-theme="dark"] {
    --background-shade-1: #1e1e1e;
    --background-shade-2: #252526;
    --background-shade-3: #323233;
    --background-shade-4: #333333;
    --background-shade-5: #181818;
    --shade-50: #f0f0f0;
    --shade-100: #fafafa;
    --shade-150: #d5d5d5;
    --shade-200: #b1b1b1;
    --shade-250: #8c8c8c;
    --shade-300: #686868;
    --shade-350: #434343;
    --shade-375: #2a2a2a;
    --shade-400: #1f1f1f;    
    --background-color: #1e1e1e;
    --tab-color: #2d2d2d;
    --tab-bar: #252526;
    --text-color: #bfbdbd;
    --text-color-accent-1: #858585;
    --text-color-accent-2: #ffffff;
    --separator-color: #383838;
    --icon-color: #484848;
    --icon-hover-bg: #2727291f;
    --accent-1: #ec9939;
    --accent-2: #006bb4;
    --accent-2-text: #006bb4;
    --accent-2-hover: #035992;
    --accent-3: #00b594;
    --accent-4: #9900b5;
    --scroll-track: #333333;
    --scroll-thumb: #5e5e5e;
    --scroll-thumb-hover: #a1a1a1;
    --disabled: rgba(255, 255, 255, 0.3);
    --disabled-bg-color: rgba(255, 255, 255, 0.12);
    --transition-time: 0.3s;
    --text-color-rgb: 215, 216, 218;
    --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --success: #11c111;
    --danger: #d33535;
    --warn: #dd9124;
    --info: #40a9ff;
    --info-bg: #111b26;
    --info-border: #153450;
    --panel-bg: #2571ca;
    --panel-border: transparent;
    --row-bg: #282828;
    --row-bg-alt: #1b2133;
    --row-select: #465b8c;
    --row-select-border: #4a4a4a;
    --separator-color-accent-1: #4a4a4a;
}
