[data-theme="green"] {
    --background-shade-1: #04565a;
    --background-shade-2: #164042;
    --background-shade-3: #2e8085;
    --background-shade-4: #04474a;
    --background-shade-5: #004548;
    --shade-50: #f0f0f0;
    --shade-100: #fafafa;
    --shade-150: #d5d5d5;
    --shade-200: #b1b1b1;
    --shade-250: #8c8c8c;
    --shade-300: #686868;
    --shade-350: #004f50;
    --shade-375: #014546;
    --shade-400: #003436;
    --background-color: #00292a;
    --tab-color: #00494c;
    --tab-bar: #001d1e;
    --text-color: #bfbdbd;
    --text-color-accent-1: #858585;
    --text-color-accent-2: #ffffff;
    --separator-color: #0a6868;
    --icon-color: #484848;
    --icon-hover-bg: #2727291f;
    --accent-1: #ec9939;
    --accent-2: #006162;
    --accent-2-text: #017576;
    --accent-2-hover: #004e4e;
    --accent-3: #00b594;
    --accent-4: #9900b5;
    --scroll-track: #333333;
    --scroll-thumb: #5e5e5e;
    --scroll-thumb-hover: #a1a1a1;
    --disabled: rgba(255, 255, 255, 0.3);
    --disabled-bg-color: rgba(255, 255, 255, 0.12);
    --transition-time: 0.3s;
    --text-color-rgb: 215, 216, 218;
    --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --success: #11c111;
    --danger: #d33535;
    --warn: #dd9124;
    --info: #40a9ff;
    --panel-bg: #2571ca;
    --panel-border: transparent;
    --row-bg: #004344;
    --row-bg-alt: #1b2133;
    --row-select: #018387;
    --row-select-border: #4a4a4a;
    --separator-color-accent-1: #005456;
}
