[data-theme="light"] {
    --background-shade-1: #f8f8f8;
    --background-shade-2: #ffffff;
    --background-shade-3: #e6e6e6;
    --background-shade-4: #e5e5e5;
    --background-shade-5: #e0e0e0;
    --shade-50: #1f1f1f;
    --shade-100: #2a2a2a;
    --shade-150: #434343;
    --shade-200: #686868;
    --shade-250: #8c8c8c;
    --shade-300: #b1b1b1;
    --shade-350: #d5d5d5;
    --shade-375: #e7e7e7;
    --shade-400: #f0f0f0;    
    --background-color: #ffffff;
    --tab-color: #e6e6e6;
    --tab-bar: #d8d7d7;
    --text-color: #1e1e1e;
    --text-color-accent-1: #858585;
    --text-color-accent-2: #ffffff;
    --separator-color: #ebebeb;
    --icon-color: #484848;
    --icon-hover-bg: #2727291f;
    --accent-1: #ec9939;
    --accent-2: #068ce6;
    --accent-2-text: #047ecf;
    --accent-2-hover: #035992;
    --accent-3: #00b594;
    --accent-4: #9900b5;
    --scroll-track: #dbdbdb;
    --scroll-thumb: #aaaaaa;
    --scroll-thumb-hover: #a1a1a1;
    --disabled: rgba(255, 255, 255, 0.3);
    --disabled-bg-color: rgba(255, 255, 255, 0.12);
    --transition-time: 0.3s;
    --text-color-rgb: 42, 42, 42;
    --box-shadow: 0px 2px 1px -1px rgba(121, 121, 121, 0.2), 0px 1px 1px 0px rgba(146, 146, 146, 0.14),
        0px 1px 3px 0px rgba(133, 133, 133, 0.12);
    --success: #11c111;
    --danger: #ff2f2f;
    --warn: #dd9124;
    --info: #40a9ff;
    --panel-bg: #2571ca;
    --panel-border: transparent;
    --row-bg: #ffffff;
    --row-bg-alt: #fcfcfc;
    --row-select: #465b8c;
    --row-select-border: #4a4a4a;
    --separator-color-accent-1: #e0e0e0;
}
