.launcher-tab-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    color: var(--text-color);

    .title-section {
        display: flex;
        flex-direction: column;
        width: 50%;

        .title {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .sub-title {
            font-size: 18px;
        }
    }

    .launcher-actions {
        margin-top: 20px;
        width: 50%;

        .action-title {
            font-size: 18px;
        }

        .ant-input {
            margin-top: 10px;
            width: 50%;
            background: var(--shade-350);
            color: var(--text-color);
            border: none;
            margin-right: 5px;
            
            &::placeholder {
                color: var(--text-color-alt);
            }
        }

        .profiles {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            margin-top: 10px;
            max-height: 50vh;
            overflow: auto;

            .profile {
                cursor: pointer;
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
        }
    }

    .launcher-img {
        width: 35%;
        height: 250px;
        position: absolute;
        background-image: url("../../../assets/launcher.png");
        bottom: 0;
        right: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
