.base-panel {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    height: 100%;

    &-header {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        border-bottom: 1px solid var(--separator-color);

        .title {
            font-size: 14px;
            text-transform: uppercase;
            color: var(--shade-200);
        }

        .sub-title {
            font-size: 10px;
        }
    }

    &-body {
        padding: 10px 20px;
        flex-grow: 1;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
}
