@import "./styles/styles.scss";
@import "../node_modules/antd/dist/antd.css";
@import "./styles/antd/antd.scss";
@import "./styles/themes/dark.scss";
@import "./styles/themes/light.scss";
@import "./styles/vivify.min.css";

#root {
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    background-color: var(--background-color);    
    color: var(--text-color);
    // font-family: Cantarell, sans-serif !important;
}


* {
    &::-webkit-scrollbar {
        // width: 5px;
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-track {
        background: var(--scroll-track);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scroll-thumb);
        transition: all 0.4s;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--scroll-thumb-hover);
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    scrollbar-color: var(--scroll-thumb) var(--scroll-track);
    scrollbar-width: thin;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: none;
        color: var(--text-color) !important;
        caret-color: var(--text-color) !important;
        -webkit-text-fill-color: var(--text-color);
        -webkit-box-shadow: 0 0 0px 1000px var(--shade-150) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}