.msg-diff-view-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 43px;
        border-bottom: 1px solid var(--separator-color);
        padding: 4px 20px;
        display: flex;
        justify-content: space-between;

        .title {
            font-size: 12px;
            font-weight: 700;
            color: var(--text-color-accent-1);
            display: flex;
            align-items: center;

            .anticon {
                font-size: 16px;
                margin-right: 5px;
            }
        }
    }

    .body {
        flex-grow: 1;
        padding: 10px;
        overflow: auto;
    }
}
